.Main {
    height: 80vh;
}
.Main-Container {
    display: flex;
}
.Main-Welcome {
    display: flex;
    align-items: center;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
}
.Main-Link {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 960px) {
    .Main-Img {
        display: none;
    }
}