.Main {
    height: 500px;
}
.Main-Container {
    display: flex;
}
.Main-Welcome {
    display: flex;
    align-items: center;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
}