.UserProfile-Avatar {
  padding: 0;
}
.User-ChooseFile {
  width: 230px;
}
.UserProfile-Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
}