.Canvas {
    width: 60%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.Canvas-Stage {
    width: 100%;
    height: 100%
}
.Canvas-Layer {
    width: 100%;
    height: 100%
}
