.ColorPalette {
    height: 20px;
    display: flex;
}
.color-item {
    width: 20px;
    height: 20px;
}
.Canvas-ControlPanel{
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
}
.active {
    border: 1px solid black;
}