.Game {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.Game header {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}
.Game-Word {
    width: 60%;
}
.Game main {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
