body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: no-repeat center url('img/lake.jpg');
  background-size: cover;

  /*background-color: #08AEEA;*/
  /*background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);*/

  /*background-color: #0e62a0;*/
  /*background-image: linear-gradient(45deg, #0e62a0 0%, #2BFF88 90%);*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
