.ColorPalette {
    height: 20px;
    display: flex;
}
.color-item {
    width: 20px;
    height: 20px;
}
.active {
    border: 1px solid black;
}
.painters-icons {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 5px
}