.SuggestWord {
    height: 500px;
}
.SuggestWord-Form {
    padding: 20px !important;
}
.SuggestWord-words-list {
    height: 50%;
    overflow-y: auto;
    height: 200px;
}
.SuggestWord-word {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 10px;
}
.like {
    color: grey;
}
.like-number {
    position: relative;
    top: 15px;
    right: 25%;
    color: grey;
}
.like:hover,
.dislike:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.like-active {
    color: #75a61c;
}
.SuggestWord-buttons {
    justify-self: flex-end;
    display: flex;
}

