.Game {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.Game header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Game-Word {
    width: 60%;
}
.Game main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
}
.Game .emptyDiv {
    width: 60%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
}
