.Chat {
    min-width: 300px;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    text-align: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.Chat-messages {
    margin-top: auto;
    overflow-y: auto;
}
.Chat form {
    margin-bottom: 10px;
}
.Chat-message-name {
    font-weight: 700;
}
