.Chat {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-top: 1px solid black;
}
.Chat-messages {
    margin-top: auto;
    overflow-y: auto;
    margin-bottom: 10px;
}
.Chat-message-name {
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}
.Chat-message{
    background-color: #749dd2;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    color: #fff
}
.icon {
    color: grey;
}
.icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}
