.GameOver {
    width: 500px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}