/*.Signup {*/
/*    height: 50vh;*/
/*}*/
/*.Signup-Form {*/
/*    padding-bottom: 16px;*/
/*}*/
.Signup-ChooseFile {
    width: 100%;
}
.Img-Container {
    display: flex;
    align-items: center;
}
@media (max-width: 960px) {
    .Signup .Img-Container {
        display: none;
    }
}